*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* standart color #4eb8dd */
/* buffer in website */
/* ::-moz-selection { Code for Firefox
  color: red;
  background: yellow;
} */

::selection {
  color: black;
  background: #4eb8dd;
}
:root{
    --clr: #222327;
}
body{
  padding-top:  30px;
  align-items: center;
  justify-content: center;
  background: url("../img/imagegif2.jpg");
  /* background-repeat: no-repeat;
  background-size:cover; */
  bottom:0; 
}
body{
  position: relative;
}
 .lang_change{
  position: absolute;
  top:10px; 
  right:10px; 
  color:white;
  border-radius: 5px;
  /* background-color: rgb(180, 175, 175); */
  outline: 0;
}
a {
  text-decoration: none;
  display: inline-block; 

}

.nav{
  width: 100%;

  /* position: relative; */
  /* position: fixed; */
  position: absolute;
  /* margin: 0 auto; */
  z-index: 2;
  /* margin-bottom: 30px; */
  
}
.wrapper{
  max-width: 1170px;
  margin: 0 auto; 
  padding : 0px 15px;
}

.header__btn-menu{ 
  display: none;
  font-size: 28px;
  cursor: pointer;
}
/* .menu_burger img {
  width: 30px;
  height: 30px;
  display:none; 
} */
.header__btn-menu span{
  color: black; 
}
.navigation{
  margin: 0 auto;
  /* width: 100%; */
    top:10px;

    /* margin:0  auto; */
    position: relative;
    max-width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 4;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.img_logo{
  width: 60px;
  height: 65px;
}
.nav-logo1 p {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}
/* .nav-logo{
  
} */
.navigation ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: 0  auto;
    
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    
  
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr); 
    z-index: 10;
}
.navigation ul li.active a .icon{
  
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
  
opacity: 1;
transform: translateY(10px);
}

.indicator0{
    position: absolute;
    top: -37px;
    width: 70px;
    height:70px;
    background: #4eb8dd;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator0:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width:20px;
    height:20px;
    background: transparent ;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator0:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width:20px;
    height:20px;
    background: transparent ;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator0
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator0
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator0
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator0
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator0
{
    transform: translateX(calc(70px * 4));
}


/* sign up*/

.img-icon{
  width: 30px;
  height: 30px;
}

.nav-logo1{
  /* display: flex; */
}
.center_text{
  margin-right:20px;
}
.button-login a{
  font-style: italic;
  background-color: #4eb8dd;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.button a {
  font-style: italic;
  background-color: #4eb8dd;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.reaction:hover{
  background-color: #217093;
}
.registr_zero{
  /* display:none;  */
}
.registr_one{
  display:none; 
}
.before_registr{

display: flex;
}
.after_registr_zero{
display: flex;
}
.after_registr{
display: flex;
margin:auto; 
}
.name_user{
 display: flex;
 padding-top: 4px;
}
.name_user span{
 cursor: pointer;
 margin-left: 10px;
 text-align: center;
 padding-top: 3px;
}
.name_user img{
 width: 30px;
 height: 30px;
 border-radius: 50%;
}
.sign-out{
 margin-left:20px; 
}

.sign-out a {
 font-style: italic;
 background-color: #fff;
 padding: 5px 10px;
 border-radius: 10px;
 text-decoration: none;
 border: 1px solid rgb(128, 117, 117);
 color: rgb(56, 47, 47);
 font-weight: 500;
}
.sign-out a:hover{
 background-color: rgb(199, 197, 197);
}


/* SIGN IN */


/* SIGN UP */
 

/* Main-body */

.main-body{
  max-width: 100%;
  margin-top: 110px;
}
.container {
  justify-content:space-between;
 display: grid;
 display: flex;
 
}
.grid_cards{
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 20px; 
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: justify;
  cursor: pointer;
   margin:30px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom:30px;

}

.rgb::after {
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  filter:blur(8px); 
  transform: translateZ(-1px); 
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
  transform: translateZ(30px);
}
.card-stats {
  grid-area: stats; 
}
.card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../img/cardimagejpg.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image2 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../img/astana.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image3 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../img/aktau.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:14px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
/* .card {
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom:30px;
} */



/* slider css */


.container1{ 
  z-index: 1;
  max-width: 100%;
  margin: 0 auto; 
  padding : 0px 15px;
}

.slider{ 
  background-image: url("https://wallpapercrafter.com/th800/4426-mountains-starry-sky-night-4k.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 500px;
}
.slider__item-content{ 
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto; 
}
.slider__title{ 
 text-transform: uppercase;
 font-size: 30px;
 line-height: 36px;
 color: #fff; 
 font-weight: 500;
 letter-spacing: 1.5px;
margin-bottom: 22px;
font-family: 'Roboto', sans-serif;
}
.slider__text{ 
  line-height: 24px;
  font-size: 18px;
  color: #d3d2d2;
  margin-bottom: 70px;
}

.default-btn{ 
      display: inline-block;
font-size: 14px;
line-height: 24px;
color: #fff; 
font-weight: 500;
font-family: 'Roboto', sans-serif;
padding: 8px 30px 8px 24px;
border: 1px solid #4eb8dd; 
border-right-width: 20px;
position: relative;
outline: none;
}
.default-btn:before{
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top:50%;
  transform: translateY(-50%); 
  right:-11px; 
}
.slider__inner{ 
   position: relative;
   
}
.slick-btn{ 
   position: absolute;
   top: 70%; 
   z-index: 3;
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
  
   color: #fff; 
   cursor: pointer; 
   outline: none; 
   background-color: #4eb8dd;
}


.slick-btn.slick-disabled{ 
cursor: default;
background-color: transparent;
}
.slick-btn:before{ 
position: absolute;
top: 50%; 
left: 41%; 
transform: translate(50%, -50%);
font-family: 'icomoon';
}
.slick-next:before{ 
  content: "\f105";
}

.slick-prev:before{ 
  content: "\f104";
 
}



.slick-next{ 
   right: 0; 
}
.slick-prev {
   left: 0; 
}

/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container_footer{
  max-width: 100%px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #4eb8dd ;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #4eb8dd;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #4eb8dd;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
audio {
  width: 50px; 
  border-radius: 50%;
  background-color: #24262b;;
}
.bars-container{
  height: 120px;
  width:140px;
  margin:20px; 
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.bar{
  width: 10px;
  height: 2px;
  background: white;
  border-radius: 10px;
  animation: load 1.6s ease-in-out infinite ;
}

@keyframes load {
  0% , 100%{
    height: 2px;
  }
  50%{
    height: 60px;
  }
  
}

.bars-container .bar:nth-child(1){
  background: #e9093d;
  animation-delay: 1.2s;
}
.bars-container .bar:nth-child(2){
  background: #e9099e;
  animation-delay: 1s;
}
.bars-container .bar:nth-child(3){
  background: #e98809;
  animation-delay: 0.8s;
}
.bars-container .bar:nth-child(4){
  background: #d3e909;
  animation-delay: 0.6s;
}
.bars-container .bar:nth-child(5){
  background: #0918ed;
  animation-delay: 0.4s;
}
.bars-container .bar:nth-child(6){
  background: #fff;
  animation-delay: 0.2s;
}
